#vegetables_grid {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: 15% 85%;
	padding: 2%;
}

#vegetables {
	height:100%;
	background-color:lightgray;
	padding: 2%;
}
#vegetables_items {
	background-color:white;
	height: 100%;
}

.vegetables_list {
	text-align:center;
	height:120px;
}

#vegetables_table {
	text-align:center;
	background-color:white;
	width:100%;
	padding-left:5%;
	padding-right:5%;
}

.vegetables_page 
{
    background-color: lightgray;
}

.vegetables_left {
    text-align:center;
    background-color: white;
	padding:5%;
}

.vegetables_right {
    text-align:left;
    background-color: white;
	padding:2%;
}

.product_option_btn {
	color: black;
	padding: 10px;
	background-color: lightgray;
	border: 0;
	cursor: pointer;
	transition: all 1s;
	text-align: center;
}

.product_description_btn {
	color: white;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
	background-color: gray;
	border: 0;
	cursor: pointer;
	transition: all 1s;
	text-align: center;
}