/**
*	Main CSS file
*/

@font-face {
	font-family: "Roboto";
	src: url(../../assets/Fonts/Roboto/Roboto-Regular.ttf);
}

body {
	margin: 0;
	font-family: "Roboto";
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit;
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.center {
	text-align: center;
}

#__top_banner {
	background-color: #161616;
	height: 30px;
	padding: 20px;
	color: white;
}

#cart_button {
	margin-left: 90%;
	background-color: #e53134;
	padding: 10px;
	border-radius: 5px;
	border-color: transparent;
	color: white;
	margin-top: -70px;
	cursor: pointer;

	/* Cart Image */
	display: inline-block;
}

#slidshow {
	text-align: center;
	height: 40%;
	width: 60%;
	background-size: cover;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: opacity 1s;
	color: transparent;
}

#slidshow_image {
	text-align: center;
	margin: 0;
	padding: 0;
	transition: all 0.5s;
}

#slidshow_price {
	background-color: #e53134;
	color: white !important;
	font-size: 20pt;
	text-align: center;
	width: 20%;
}

.btn {
	color: white;
	padding: 20px;
	background-color: #161616;
	border: 0;
	cursor: pointer;
	transition: all 1s;
}

.btn:hover {
	background-color: #e53134;
}

.registration_form {
	padding: 30px;
	margin-left: 20%;
}

.registration_form table tr td {
	padding: 10px 0px;
}

.registration_form input:not([type="submit"]) {
	padding: 15px;
	font-size: 18px;
}

.ok_message {
	border: 1px solid green;
	background-color: lightgreen;
	padding: 20px;
	width: 60%;
	display: none;
}

.error_message {
	border: 1px solid red;
	background-color: pink;
	padding: 20px;
	width: 60%;
	display: none;
}

#menu {
	background-color: rgb(108, 108, 108);
	height: 60px;
	padding: 20px;
	padding-top: 0px !important;
	margin-top: -32px;
	text-align: center;
	font-size: 32px;
	font-family: "Roboto";
	color: white;
}

#menu ul li {
	display: inline-block;
	list-style-type: none;
	padding: 20px;
	cursor: pointer;
	transition: 0.5s all;
}

#menu ul li:hover {
	background-color: #e53134;
}

.sub_menus input[type="submit"] {
	text-align: left;
	padding: 20px;
	width: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: 0.5s all;
}

.sub_menus input[type="submit"]:hover {
	padding-left: 40px;
}

#menu_aisle {
	box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.6);
	width: 250px;
	position: absolute;
	top: 150px;
	left: 50%;
	z-index: 3;
	background-color: rgba(150, 150, 150, 0.6);
	display: none;
}

#menu_aisle ul li {
	list-style-type: none;
	cursor: pointer;
	transition: 0.5s all, 1s opacity;
}

#__outer_ul li {
	list-style-type: none;
	display: inline-block;
}

#__outer_ul li ul li {
	text-align: left;
	list-style-type: none;
	display: block;
}

#__search_result {
	margin-top: 23%;
}

.__search_result_block {
	margin-left: 3%;
	display: inline-block;
	background-color: #16161693;
	color: white;
	padding: 25px;
}

.__search_result_block img {
	width: 300px;
	height: 300px;
}

.__search_result_block input[type="button"] {
	background-color: #e53134;
	padding: 15px;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.5s all;
}

.__search_result_block input[type="button"]:hover {
	background-color: #161616;
	padding: 15px;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.__learn_more_btn {
	background-color: #161616;
	color: white;
	padding: 15px;
	border: none;
}
#magnifying_button{
    text-align: right;
	background-color: transparent;
	padding: 2px;
	border-radius: 5px;
	border-color: transparent;
	margin-top: -70px;
	cursor: pointer;

	
	display: inline-block;
}
.cart_right{
	margin-left: 76%;
	border-style: solid;
	border:black;

}

#__promotion_code {
	background-color: #161616;
	height: 20px;
	padding: 20px;
	color: white;
}
.__Cart_Summary{
	background-color: transparent;
	width:250px;
	left:100%;
	border:black;
	height: 20px;
	padding: 20px;
	color:black;
	

}
	
	input {
		text-align: center;
	  }
	  
	  ::-webkit-input-placeholder {
		text-align: center;
	  }
	  
	  :-moz-placeholder {
		text-align: center;
	  }
	  .minimum45{
		  font-size: 13;
		  width:240px;
		  height:500px;
	  }
.border1{

		background-color: white;
		width: 300px;
		
		padding: 50px;
		margin: 20px;
		height: 500px !important;
		color:black;
	  
}
.marginright{
	margin-right: 20%;
	
}
.name{
	background-color: white;
	color: grey;
	border: transparent;
	font-weight: bold;
	font-size: 18;
}
.border2{

	background-color: white;
	width: 300px;
	padding: 50px;
	margin: 20px;
	height: 180px;
	color:black;
  
}
#top_banner {
	background-color: #161616;
	height: 15%;
	padding: 10;
	color: whitesmoke;
	width:70%;
}
.border3{

	background-color: white;
	width: 300px;
	
	padding: 50px;
	margin: 20px;
	height: 500px;
	color:black;
  
}

.cart_left{
	margin-right: 100%;
	border-style: solid;
	border:black;
}
#btn_work {
    padding: 9px;
    margin: 0 auto;
    vertical-align: middle;
}

#footer {
position:relative;
bottom:0;
width:100%;
height:130px;   /* Height of the footer */
background:black;
text-align:center;
}